<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>P1Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Custom Error 404 Page -->
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>

  <!-- Front Controller Servlet -->
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.revature.web.FrontController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/creativeconcepts/*</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  
  <!-- Cors Filter from Apache -->
  	<filter>
	<filter-name>CorsFilter</filter-name>
	  <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
	  <init-param>
	  	<param-name>core.allowed.orgins</param-name>
	  	<param-value>*</param-value>
	  </init-param>
	</filter>
	
	<filter-mapping>
	  <filter-name>CorsFilter</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>